---
const courses = [
  { name: "Windows Fundamentals", url: "https://academy.hackthebox.com/achievement/2152120/49" },
  { name: "Introduction to Bash Scripting", url: "https://academy.hackthebox.com/achievement/2152120/21" },
  { name: "Linux Fundamentals", url: "https://academy.hackthebox.com/achievement/2152120/18" }
];

const badges = [
  { name: "Academician", url: "https://academy.hackthebox.com/achievement/badge/63df81ec-9196-11f0-9254-bea50ffe6cb4" },
  { name: "Our Favorite Seabird", url: "https://academy.hackthebox.com/achievement/badge/fe0a3d86-995b-11f0-9254-bea50ffe6cb4" },
  { name: "Do things the traditional way", url: "https://academy.hackthebox.com/achievement/badge/c20f6a0e-9329-11f0-9254-bea50ffe6cb4" },
];
---

<section class="max-w-4xl mx-auto px-6 py-16">
  <h2 class="text-3xl font-bold text-silver_lake_blue mb-8">HTB Progress</h2>

  <p class="mb-10 text-2xl font-semibold text-periwinkle">Completed Courses</p>
  <ul class="list-disc list-inside space-y-2">
    {courses.map(course => (
      <li><a href={course.url} class="text-french_gray hover:text-silver_lake_blue">{course.name}</a></li>
    ))}
  </ul>

  <h3 class="mt-10 text-2xl font-semibold text-periwinkle">HTB Badges</h3>
  <ul class="mt-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
    {badges.map(badge => (
      <li>
        <a href={badge.url}
           class="block p-4 bg-charcoal rounded-lg shadow hover:bg-battleship_gray transition">
          {badge.name}
        </a>
      </li>
    ))}
  </ul>
</section>
