---
const links = [
  { name: "GitHub", url: "https://github.com/opkpEh" },
  { name: "LinkedIn", url: "https://www.linkedin.com/in/kushagra-10-10-10-" },
  { name: "Twitter", url: "https://x.com/opkp16399869" },
  { name: "Medium", url: "https://medium.com/@opkp" },
  { name: "HackTheBox", url: "https://app.hackthebox.com/users/2615683" },
];
---

<header class="absolute top-0 left-0 w-full px-6 py-4 flex justify-between items-center z-20">
  <h1 class="text-xl font-bold text-silver_lake_blue">Kushagra</h1>
  <nav class="flex gap-4">
    {links.map(link => (
      <a href={link.url} class="text-french_gray hover:text-silver_lake_blue">{link.name}</a>
    ))}
  </nav>
</header>
